<h1>Paints#index</h1>
<p>Find me in app/views/paints/index.html.erb</p>

<% @paints.each do |paint| %>
<div style="background-color: #<%= paint[:component1] %>">
<%= paint[:name] %>
<em><%= paint[:component1] %></em>
</div>
<% end %>
