<h1>Palettes#index</h1>

<p>Find me in app/views/palettes/index.html.erb</p>
<% @current_user.palettes.each do |palette| %>
  <%= palette.name %>
  <% palette.paints.each do |p| %>
    <% bc = p.component1 %>
    <div class='picked_paint' style="background-color:#<%= bc %>"></div>
  <% end %>
<% end %>
