
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Graficolor</a>
      <ul class="right hide-on-med-and-down">
      <% if !@current_user %>
        <li><a href="login">Login</a></li>
        <li><a href="signup">Signup</a></li>
      <% else %>
          <li><a href="logout">Logout</a></li>
          <li><a href="palettes">My Palettes</a></li>
          <li><a href="newpalette">New Palette</a></li>
      <% end %>
      </ul>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="side-nav show-on-small-and-down" id="mobile-demo">
       <% if !@current_user %>
        <li><a href="login">Login</a></li>
        <li><a href="signup">Signup</a></li>
      <% else %>
        <li><a href="cadfg">eeesgfg</a></li>
        <li><a href="logout">Logout</a></li>
        <li><a href="palettes">My Palettes</a></li>
        <li><a href="newpalette">New Palette</a></li>
      <% end %>
      </ul>
    </div>
  </nav>
