/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */

@import "materialize/components/color";
$primary-color: color("purple", "lighten-2") !default;
$secondary-color: color("purple", "lighten-3") !default;
$link-color: color("cyan", "lighten-3") !default;
@import 'materialize';

.card a.btn {
  color:white;
}

.card-title {
  margin-left: 25px;
}

.brand-logo {
  @extend .card-title;
}

.grid {
  height:50%;
  width:50%;
  margin: 10px;
 }

.grid-item {
  position: relative;
  float: left;
  width: 5%;
  height: 5%;
  margin: 2px;
  padding: 2px;
  color: #262524;
}

#paint_list {
  display:inline;
}

#paint_picks {
@extend .blue;
position: absolute;
top: 30px;
left: 300px;
display:inline-block;
min-width: 400px;
margin: 30px;

}

.picked_paint {
  display:inline-block;
  // position:fixed;
  margin: 5px;
  width:125px;
  height:125px;
  @extend .z-depth-2;
}