// Place all the styles related to the palettes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#paint_list {
  display:inline;
}

#paint_picks {
position: absolute;
top: 50px;
left: 300px;
display:inline-block;
min-width: 1000px;
}

.picked_paint {
  display:inline-block;
  // position:fixed;
  width:200px;
  height:200px;
}